

* {
    box-sizing: border-box;
    letter-spacing: -1px;
    vertical-align: middle;
    
}

img {
    margin: auto;
    width: 13vw;
    
    display: flex;
    justify-content : center;
    
    position: absolute;
}
.parents {
    z-index: 4;
    margin-bottom: 5px;
    width: 58.2vw;
    height: 14vw;
    background:linear-gradient(#ffa5a5, #a3ff99);
    align-items: center;
display: flex;
justify-content : center;
flex-direction: column;

  }
  