*{
    list-style: none;
    border-collapse: collapse;
    text-decoration: none;
     margin: 0vw;
    padding: 0vw;
    
}
.con{
    
    width: 100vw;
    height: 100vh;
    display: flex;
  /* justify-content : center; */
  position:relative;
  z-index: 1; 
  overflow:hidden;
}


.feedbox{
    width: 65vw;
    height: 75vh;
    background:linear-gradient(#fff3f3, #FF64C8);
    z-index: 4; 
    display: flex;
    justify-content : center;
    /* margin-top: 8vw; */
    /* margin-left: 5%; */
    overflow: hidden;
    position: absolute;
    border-radius: 30px 30px 20px 20px;
    /* margin-left: 5vw; */
    /* position:relative; */
    }

    .scrollbox{
        overflow: scroll;
        width: 58vw;
        height: 65vh;
        background: rgb(249, 249, 247);
        z-index: 4; 
        display: flex;
        position: absolute;
        /* justify-content : center; */
        flex-direction : column;
        margin-top: 3vw;
        margin-left: 1vw;
        margin-right: 1vw;
        border-radius: 1.2vw;
        }


    .back{
        width: 100vw;
        height: 100vh;
        display: flex;
        
      justify-content : center;
      position: relative;
    }
    

    .logo{
        width: 20vw;
        z-index: 5; 
        position: fixed;
        display: flex;
        /* margin-left: 20vw; */
        justify-content : center;
        /* bottom: 0px; */
        margin-top: 50px;
        /* background-color: blue; */
    }

    .right{
        width: 25vw;
        height: 75vh;
        /* background: beige; */
        z-index: 4; 
        display: flex;
        justify-content : center;
        /* margin-top: 8vw; */
        right: 0px;
        
        
        overflow: hidden;
        position: absolute;
        border-radius: 30px 30px 20px 20px;
        /* margin-left: 5vw; */
        /* position:relative; */
        }
 .contentbox{
            width: 90%;
            /* background: rgb(255, 255, 120); */
        
    height: 75vh;

    z-index: 4; 
    display: flex;
    
    margin-top: 6vw;
    margin-left: 5%;
    
    position: absolute;
        }