*{
    list-style: none;
    border-collapse: collapse;
    text-decoration: none;
     margin: 0vw;
    padding: 0vw;
    
}
@font-face {
    font-family: 'galmuri';
    src: url("Galmuri14.ttf");
    src: url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
    
}
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

.back{
    width: 100vw;
    height: 100vh;
    display: flex;
    
  justify-content : center;
  position: absolute;
}

.con{
    width: 100vw;
    height: 100vh;
    display: flex;
  /* justify-content : center; */
  position:relative;
  z-index: 1; 
  overflow:hidden;
  background-color: #6887F4;
}
.feed{
position: absolute;    
    width: 28vw;
    margin-left:61vw;
    margin-top: 28.28vw; 
}
.feed:hover{
  transform: scale(102%);
  cursor: pointer;
  }
.mail{
  position: absolute;    
      width: 14.11vw;
      margin-left: 80vw;
      margin-top: 7.92vw; 
  }
  
  .mail:hover{
    transform: scale(102%);
    cursor: pointer;
    }

.info{
    position: absolute;    
        width: 15vw;
        margin-left: 6vw;
        margin-top: 20vw; 
}

.info:hover{
  transform: scale(102%);
  cursor: pointer;
  }

/* .logo{
    width: 70vw;
    display: flex;
    margin-top: 7vw;
  justify-content : center;
  position: absolute;
  z-index: 3; 
} */
.flow-container{
    width: 100vw;
    height: 2.2vw;
    display: flex;
    position:absolute;
    background-color: #0E0D19;
}
.flow-text {
  font-family: 'galmuri';
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 0s;
    /* font-size: 0.89vw;
    font-weight:bold;
    color: #F7F7F5; */
    margin-top: 0.47vw;
    
}
/* .flow-text:hover {
  color: #000;
} */
.flow-text:hover .flow-wrap {
  animation-play-state: paused;
  cursor: pointer;
}
.flow-wrap {
  animation: textLoop 25s linear infinite;
  padding-right: 0.52vw;
  /* font-family: 'galmuri'; */
  width: 22.29vw;
  height: 1.25vw;
}

@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@media (max-width: 767px) {
    
  .info{
    width: 33vw;
    margin-top: 59vw;
    margin-left: 6vw;
}
.mail{
  width: 37vw;
  margin-top: 24vw;
  margin-left: 58vw;
  
}
.feed{
width: 63vw;
margin-top: 128vw;
margin-left: 29vw;

}

.back{
    width: 170vw;
    height: 90vh;
    justify-content : center;
}
.flow-container{
  width: 100vw;
  height: 8.96vw;
  display: flex;
  position:absolute;
  background-color: #0E0D19;
}
.flow-wrap {
margin-top: 2.39vw;
width: 76.12vw;
height: 4.23vw;
}
}

@media (min-width:768px) and (max-width:1024px) {
    
    .info{
        width: 27vw;
        margin-top: 37.21vw;
        margin-left: 6.2vw;
    }
    .mail{
      width: 24.8vw;
      margin-top: 14.45vw;
      margin-left: 69.24vw;
      
  }
  .feed{
    width: 50.49vw;
    margin-top: 82vw;
    margin-left: 39.2vw;
    
}

    .back{
        width: 170vw;
        height: 90vh;
        justify-content : center;
    }
    .flow-container{
      width: 100vw;
      height: 4.1vw;
      display: flex;
      position:absolute;
      background-color: #0E0D19;
  }
  .flow-wrap {
  margin-top: 0.55vw;
    width: 41.21vw;
    height: 2.34vw;
  }
}
