*{
    list-style: none;
    border-collapse: collapse;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body, html {cursor: url(pinkcursor.cur), auto}
body{
    background-color: #f5f5f5;
}
img {
    margin: auto;
    display: block;
    width: 90%;
    flex-direction: column;
}
.page{
   position: relative;
  margin-top: 3%;
    margin-bottom: 3%;  

align-items: center;
display: flex;
justify-content : center;
flex-direction: column;
}
.btn{
position: fixed;
bottom: 2.5vw;    /* 하단에서 20px 위 */
  right: 1.2vw;     /* 오른쪽에서 20px 왼쪽 */
  z-index: 1000;   /* 다른 요소보다 위에 보이도록 설정 */
  width: 12vmin;
  cursor: url(greenstar.cur), auto;
  transition:opacity 0.25s ease, transform 0.3s cubic-bezier(0.25,0.8,0.25,1);
  transform-origin: 50% 73%;
}
.btn:hover{
 transform:rotate(-5deg); 
}
@media (max-width: 1024px) {

  img {
   
    width: 100%;
   
}
.btn{

  bottom: 4vw; /* 하단에서 20px 위 */
  right: 2.5vw;     /* 오른쪽에서 20px 왼쪽 */
   /* 다른 요소보다 위에 보이도록 설정 */
  width: 13.5vmin;
 
}
}
/* .pic{
    width: 90%;
    display: flex;
    position: absolute;
}*/
/* .page{
    background-color: #a3ff0e;
    width: 90vw;
    display: flex;
  justify-content : center;
  flex-direction: column-reverse;
  position:relative;
}  */
/* .pic{

  position: absolute;
  margin: 0 auto;
  justify-content : center;
  flex-direction: column;
}
.pic2{
    width: 90%;
    display: flex;
  
  justify-content : center;
  flex-direction: column-reverse;
} */